/* Hero Section */
.hero {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: #fff2fc; /* 하단 배경색 */
  overflow: hidden;
}

.hero-bg {
  position: absolute;
  top: 80%;
  left: 0;
  width: 100%;
  height: 90%;
  background: #fff;
  border-top-left-radius: 50% 15%;
  border-top-right-radius: 50% 15%;
  z-index: 0;
}

/* 콘텐츠 */
.hero-content {
  position: relative;
  z-index: 1;
  margin-top: 4rem;
  text-align: center;
  padding: 0 1.5rem;
}

/* 문구 */
.hero-subtitle {
  font-size: 1rem !important;
  font-family: 'Taenada';
  font-weight: 700;
  color: #434343;
  line-height: 1.6;
  margin-bottom: 3rem;
}
.hero-subtitle .highlight {
  color: #e8048d;
  font-weight: 900;
}

/* 반응형 */
@media (max-width: 768px) {
  .hero-subtitle {
    font-size: 1.3rem;
  }
  .hero-logo-text {
    font-size: 3rem;
  }
}

/* 매칭 배너 */
.home-matching-banner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem auto;
  
  max-width: 90%; /* 이미지 크기에 맞춰 */
}

.matching-banner-img {
  width: 90%;
  border-radius: 1rem;
  display: block;
}

.matching-banner-text {
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translateY(-50%);
  text-align: left;
  color: #333; /* 글씨 색 (배경에 맞춰 조절) */
}

.matching-banner-text h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2.5rem;
}

.matching-banner-text p {
  font-size: 1rem;
}

/* 음료, 부스 위치 */
.drink-and-map {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin: 1rem auto;
  padding-bottom: 5rem;
  flex-wrap: wrap; /* 작은 화면에서는 세로 배치 */
}

.booth-location {
  background: #fff;
  border-radius: 1rem;
  padding: 1rem 2rem 2rem 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  max-width: 90%;
  flex: 1;
  text-align: center;
}

.booth-location h3 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.booth-map {
  background: #e0e0e0; /* 회색 박스 대체 */
  border-radius: 0.8rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
}

.booth-map img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
